# --- mysqld.cnf ---
# MySQL bind address
bind_address: 0.0.0.0

# Error log path
log_error: /var/log/mysql/error.log

# Path to binary logs
log_bin: /var/log/mysql/mysql-bin.log
log_bin_index: /var/log/mysql/mysql-bin.index

# Relay log for replica
relay_log: /var/log/mysql/mysql-relay-bin
relay_log_index: /var/log/mysql/mysql-relay-bin.index

# Retention period for binary logs
expire_logs_days: 7

# Maximum size of a binary log file
max_binlog_size: 500M


# --- Fail2ban ---
# fail2ban/templates/jail.local.j2:
logpath_ssh: "%(sshd_log)s"
maxretry_f2b: 5               
findtime_f2b: 5m
bantime_f2b: 1d
ignoreip_f2b: ip1 ip2 ... ipN
port_ssh_f2b: 22                      

# --- Timezone ---
timezone_: "/"

# --- UFW ---
admin_ssh_ip: admin_ssh_ip

# --- HAProxy ---
haproxy_host_ip: haproxy_host_ip

# URI for HAProxy stats
admin_panel: "admin-panel"

# haproxy.cfg.j2
allowed_network: allowed_network_ip

# MySQL replication user
replica_user: replica
