[defaults]

# Path to the inventory file
inventory = inventory/hosts

# Disable SSH host key verification
host_key_checking=False

# Path to Python interpreter on managed hosts
interpreter_python = /usr/bin/python3

# Suppress deprecation warnings (for Ansible Core 20+)
deprecation_warnings = False