# MySQL replication user password
mysql_replica_pass: mysql_replica_pass

# MySQL zabbix monitoring user password
zbx_monitor_user_pass: zbx_monitor_user_pass

# HAProxy statistics page credentials
login_haproxy: login_haproxy
passwd_haproxy: passwd_haproxy

# BD settings
postgres_db: postgres_db
postgres_user: postgres_user
postgres_password: postgres_password