# MySQL administrator credentials
mysql_admin_login: mysql_admin_login
mysql_admin_pass: mysql_admin_pass

# MySQL replication user password
mysql_replica_pass: mysql_replica_pass

# HAProxy statistics page credentials
login_haproxy: login_haproxy
passwd_haproxy: passwd_haproxy

# BD settings
postgres_db: postgres_db
postgres_user: postgres_user
postgres_password: postgres_password