# Ansible privilege escalation password
ansible_become_pass: ansible_become_pass

# MySQL administrator credentials
mysql_admin_login: mysql_admin_login
mysql_admin_pass: mysql_admin_pass

# MySQL replication user password
mysql_replica_pass: mysql_replica_pass 

# HAProxy statistics page credentials 
login_haproxy: admin
passwd_haproxy: admin