[mysqld]

# Unique server identifier
server-id = {{ server_id }}

# Error log file location
log_error = {{ log_error }}

# Address on which the server listens for connections
bind-address = {{ bind_address }}

# Binary log files
log_bin = {{ log_bin }}
log_bin_index = {{ log_bin_index }} 

# Binary log format
binlog_format = ROW

# Auto-increment conflict prevention
auto_increment_increment = 2
auto_increment_offset = {{ auto_increment_offset }}

# Relay log for slave
relay_log = {{ relay_log }}
relay_log_index = {{ relay_log_index }}

# Master-master (slave logs received changes to its own binary logs)
log_slave_updates = 1

# Binary log retention period
expire_logs_days = {{ expire_logs_days }}

# Maximum binary log size
max_binlog_size = {{ max_binlog_size }}

# GTID - unique 128-bit global transaction identifier (SERVER_UUID)
gtid_mode = ON

# GTID compatibility enforcement
enforce_gtid_consistency = ON

# Stores master info in mysql.slave_master_info table
master_info_repository = TABLE

# Stores relay log info in table
relay_log_info_repository = TABLE

# Automatically recovers relay logs at slave startup
relay_log_recovery = ON

# Binary logs synced to disk after each transaction
sync_binlog = 1
