# --- HAProxy variables ---

# server's name
master1_name: mysql-master-1
master2_name: mysql-master-2

# server's ip
master1_ip: master1_ip
master2_ip: master2_ip


ufw_rules:
  - { port: '22', src: '{{ admin_ssh_ip }}' }
  - { port: '8080', src: '{{ admin_ssh_ip }}' } 
  