# --- Master2 variables ---

# Private IP of the other master node (for replication)
other_master_ip: other_master_ip

# --- mysqld.cnf ---
# Unique server identifier
server_id: 1
# Auto-increment offset for conflict prevention
auto_increment_offset: 1

# --- UFW ---
# Firewall rules
ufw_rules:
  - { port: '22', src: '{{ other_master_ip }}' }
  - { port: '22', src: '{{ admin_ssh_ip }}' }
  - { port: '3306', src: '{{ other_master_ip }}' }
  - { port: '3306', src: '{{ haproxy_host_ip }}' }
