# MySQL monitoring configuration for Zabbix Agent 2

# Primary MySQL instance (local)
Plugins.Mysql.Sessions.local.Uri=tcp://{{ zbx_localhost }}:{{ zbx_mysql_port }}
Plugins.Mysql.Sessions.local.User={{ zbx_monitor_user }}
Plugins.Mysql.Sessions.local.Password={{ zbx_monitor_user_pass }}